# Movie Data Business Problem Part 1
Steven Phillips
June 16, 2023

## Loading the Data Sets

Movie Dataset urls

https://datasets.imdbws.com/title.basics.tsv.gz

https://datasets.imdbws.com/title.ratings.tsv.gz

https://datasets.imdbws.com/title.akas.tsv.gz

In [1]:
# initial run download from url no longer needed

basics_url="https://datasets.imdbws.com/title.basics.tsv.gz"
ratings_url="https://datasets.imdbws.com/title.ratings.tsv.gz"
akas_url="https://datasets.imdbws.com/title.akas.tsv.gz"

In [2]:
import pandas as pd

In [55]:
# initial run download from url
# basics = pd.read_csv(basics_url, sep='\t', low_memory=False)

In [4]:
# Open saved file
basics = pd.read_csv("Data/title_basics.csv.gz", low_memory = False)
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [56]:
# initial run download from url
# ratings = pd.read_csv(ratings_url, sep='\t', low_memory=False)

In [6]:
# Open saved file
ratings = pd.read_csv("Data/title_ratings.csv.gz", low_memory = False)
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1982
1  tt0000002            5.8       265
2  tt0000003            6.5      1836
3  tt0000004            5.6       179
4  tt0000005            6.2      2624

In [7]:
# initial run download from url
# akas = pd.read_csv(akas_url, sep='\t', low_memory=False)

In [8]:
# Open saved file
akas = pd.read_csv("Data/title_akas.csv.gz", low_memory = False)
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

## Preprocessing the Data

### Copying the dataframes

In [9]:
df_basics = basics.copy()
df_basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [10]:
df_ratings = ratings.copy()
df_ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1982
1  tt0000002            5.8       265
2  tt0000003            6.5      1836
3  tt0000004            5.6       179
4  tt0000005            6.2      2624

In [11]:
df_akas = akas.copy()
df_akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

### Replace /N with np.nan

In [12]:
import numpy as np

In [13]:
df_basics_backup = df_basics.copy()
df_basics = df_basics.replace({'\\N':np.nan})
df_basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"

In [14]:
df_basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9933727 entries, 0 to 9933726
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 682.1+ MB

In [15]:
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1320438 entries, 0 to 1320437
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1320438 non-null  object
 1   averageRating  1320438 non-null  float64
 2   numVotes       1320438 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 30.2+ MB

In [16]:
df_akas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36242475 entries, 0 to 36242474
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  object
dtypes: int64(1), object(7)
memory usage: 2.2+ GB

### Eliminate basic movie titles that are null for runtimeMinutes and genre

In [17]:
df_basics.isna().sum()

tconst                  0
titleType               0
primaryTitle           11
originalTitle          11
isAdult                 1
startYear         1338728
endYear           9825009
runtimeMinutes    6991981
genres             445092
dtype: int64

In [18]:
df_basics.dropna(subset=['runtimeMinutes'], inplace=True)

In [19]:
df_basics.isna().sum()

tconst                  0
titleType               0
primaryTitle            1
originalTitle           1
isAdult                 1
startYear          173867
endYear           2889570
runtimeMinutes          0
genres              76747
dtype: int64

In [20]:
df_basics.dropna(subset=['genres'], inplace=True)

In [21]:
df_basics.isna().sum()

tconst                  0
titleType               0
primaryTitle            1
originalTitle           1
isAdult                 0
startYear          168934
endYear           2814421
runtimeMinutes          0
genres                  0
dtype: int64

### Keep only from basics 'movie' titleTypes

In [22]:
df_basics['titleType'].value_counts()

tvEpisode       1467495
short            604542
movie            383942
video            181339
tvMovie           92044
tvSeries          90954
tvSpecial         18333
tvMiniSeries      17337
tvShort            8691
videoGame           322
Name: titleType, dtype: int64

In [23]:
titleType_filter = df_basics['titleType']=='movie'

In [24]:
df_basics = df_basics.loc[titleType_filter, :]

In [25]:
df_basics['titleType'].value_counts()

movie    383942
Name: titleType, dtype: int64

### Keep 'startYear' movies 2000-2022

In [26]:
df_basics['startYear'].isna().sum()

6488

In [27]:
df_basics['startYear'].fillna(0, inplace=True)

In [28]:
df_basics['startYear'] = df_basics['startYear'].astype('int64')

In [29]:
startYear_filter_1 = df_basics['startYear'] > 1999

In [30]:
startYear_filter_2 = df_basics['startYear'] < 2023

In [31]:
df_basics = df_basics.loc[startYear_filter_1 & startYear_filter_2, :]

In [32]:
df_basics['startYear'].value_counts()

2017    14384
2018    14354
2019    14104
2016    13968
2015    13479
2014    13122
2022    12937
2021    12418
2013    12394
2012    11655
2020    11597
2011    10782
2010    10216
2009     9367
2008     8166
2007     6968
2006     6527
2005     5850
2004     5218
2003     4598
2002     4140
2001     3874
2000     3645
Name: startYear, dtype: int64

### Eliminate movies that include 'documentary' in genre

In [33]:
# Exclude movies that are included in the documentary category.
is_documentary = df_basics['genres'].str.contains('documentary',case=False)
df_basics = df_basics[~is_documentary]

### Keep only 'US' movies in AKAs and Basics

In [34]:
US_filter = df_akas['region']=='US'

In [35]:
df_akas = df_akas.loc[US_filter, :]

In [36]:
df_akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
5,tt0000001,6,Carmencita,US,\N,imdbDisplay,\N,0
14,tt0000002,7,The Clown and His Dogs,US,\N,\N,literal English title,0
33,tt0000005,10,Blacksmith Scene,US,\N,imdbDisplay,\N,0
36,tt0000005,1,Blacksmithing Scene,US,\N,alternative,\N,0
41,tt0000005,6,Blacksmith Scene #1,US,\N,alternative,\N,0

In [37]:
# Filter the basics table down to only include the US by using the filtered akas dataframe
keepers = df_basics['tconst'].isin(akas['titleId'])
keepers

34803      True
42384      True
61115      True
67667      True
86799      True
           ...
9933400    True
9933409    True
9933448    True
9933493    True
9933577    True
Name: tconst, Length: 147727, dtype: bool

In [38]:
keepers.info()

<class 'pandas.core.series.Series'>
Int64Index: 147727 entries, 34803 to 9933577
Series name: tconst
Non-Null Count   Dtype
--------------   -----
147727 non-null  bool
dtypes: bool(1)
memory usage: 1.3 MB

In [39]:
df_basics = df_basics[keepers]
df_basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34803,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
42384,tt0043139,movie,Life of a Beijing Policeman,Wo zhe yi bei zi,0,2013,NaN,120,"Drama,History"
61115,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,NaN,70,Drama
67667,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
86799,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
...,...,...,...,...,...,...,...,...,...
9933400,tt9916170,movie,The Rehearsal,O Ensaio,0,2019,NaN,51,Drama
9933409,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,95,"Action,Adventure,Thriller"
9933448,tt9916270,movie,Il talento del calabrone,Il talento del calabrone,0,2020,NaN,84,Thriller
9933493,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History"
9933577,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019,NaN,123,Drama

### Replace /N in akas

In [40]:
df_akas_backup = df_akas.copy()
df_akas = df_akas.replace({'\\N':np.nan})
df_akas.head(5)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
5,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0
14,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0
33,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0
36,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0
41,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0

### Replace /N in ratings and keep only 'US' movies in ratings

In [41]:
df_ratings_backup = df_ratings.copy()
df_ratings = df_ratings.replace({'\\N':np.nan})
df_ratings.head(5)

      tconst  averageRating  numVotes
0  tt0000001            5.7      1982
1  tt0000002            5.8       265
2  tt0000003            6.5      1836
3  tt0000004            5.6       179
4  tt0000005            6.2      2624

In [42]:
# Filter the ratings table down to only include the US by using the filtered akas dataframe
keepers_ratings = df_ratings['tconst'].isin(akas['titleId'])
keepers_ratings

0           True
1           True
2           True
3           True
4           True
           ...
1320433     True
1320434     True
1320435    False
1320436    False
1320437    False
Name: tconst, Length: 1320438, dtype: bool

In [43]:
df_ratings = df_ratings[keepers_ratings]
df_ratings

            tconst  averageRating  numVotes
0        tt0000001            5.7      1982
1        tt0000002            5.8       265
2        tt0000003            6.5      1836
3        tt0000004            5.6       179
4        tt0000005            6.2      2624
...            ...            ...       ...
1320415  tt9916460            9.4        18
1320419  tt9916538            8.6         7
1320420  tt9916544            6.8        63
1320433  tt9916730            8.3        10
1320434  tt9916766            7.0        21

[986874 rows x 3 columns]

## Save data frames to 'Data' folder as compressed files

In [44]:
df_basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 147076 entries, 34803 to 9933577
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          147076 non-null  object
 1   titleType       147076 non-null  object
 2   primaryTitle    147076 non-null  object
 3   originalTitle   147076 non-null  object
 4   isAdult         147076 non-null  object
 5   startYear       147076 non-null  int64
 6   endYear         0 non-null       object
 7   runtimeMinutes  147076 non-null  object
 8   genres          147076 non-null  object
dtypes: int64(1), object(8)
memory usage: 11.2+ MB

In [45]:
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 986874 entries, 0 to 1320434
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   tconst         986874 non-null  object
 1   averageRating  986874 non-null  float64
 2   numVotes       986874 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 30.1+ MB

In [46]:
df_akas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1445478 entries, 5 to 36242219
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   titleId          1445478 non-null  object
 1   ordering         1445478 non-null  int64
 2   title            1445478 non-null  object
 3   region           1445478 non-null  object
 4   language         3951 non-null     object
 5   types            980200 non-null   object
 6   attributes       46788 non-null    object
 7   isOriginalTitle  1444136 non-null  object
dtypes: int64(1), object(7)
memory usage: 99.3+ MB

In [47]:
# make new folder with os
import os
os.makedirs('Data/',exist_ok=True) 
# Confirm folder created
os.listdir("Data/")

[]

In [48]:
## Save current basics dataframe to file.
df_basics.to_csv("Data/title_basics.csv.gz",compression='gzip',index=False)

In [49]:
## Save current ratings dataframe to file.
df_ratings.to_csv("Data/title_ratings.csv.gz",compression='gzip',index=False)

In [51]:
## Save current akas dataframe to file.
df_akas.to_csv("Data/title_akas.csv.gz",compression='gzip',index=False)

In [52]:
# Open saved file and preview again
basics = pd.read_csv("Data/title_basics.csv.gz", low_memory = False)
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
1,tt0043139,movie,Life of a Beijing Policeman,Wo zhe yi bei zi,0,2013,NaN,120,"Drama,History"
2,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,NaN,70,Drama
3,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
4,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"

In [53]:
# Open saved file and preview again
ratings = pd.read_csv("Data/title_ratings.csv.gz", low_memory = False)
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1982
1  tt0000002            5.8       265
2  tt0000003            6.5      1836
3  tt0000004            5.6       179
4  tt0000005            6.2      2624

In [54]:
# Open saved file and preview again
akas = pd.read_csv("Data/title_akas.csv.gz", low_memory = False)
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0.0
1,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0.0
2,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0.0
3,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0.0
4,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0.0